body {
  background-color: #e6e6fa;
}

.card {
  border-radius: 10px;
  box-shadow: 0, 0, 2px 4px (0, 0, 0, 0.8);
  filter: blur(0.8);
}

.card-body {
  padding: 2rem;
  background-color: transparent;
  filter: blur(0.8);
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.card-title {
  font-weight: 500;
}
